<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online_Mobile_Recharge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Online_Mobile_Recharge.styles.css" asp-append-version="true" />

    <style>

        .navbar{
            background-color: #CBF1F5;
            height: 5em;
        }

        .title{
            font-weight: bolder;
            margin-left:5em;
            font-size:24px;
        }

        .navbar-nav{
            margin-left:15em;
        }

        .options{
            color: #69B5B9 !important;
            font-weight: 500;
            margin-left:3em;
        }

        .options:hover, .options:focus {
                color: #027980 !important;
            font-weight: 500;
        }

        .optionsSpl {
            color: #000 !important;
            font-weight: bolder;
            margin-left: 4em;
        }

    </style>

</head>
<body style="background-color:#E3FDFD">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" >
            <div class="container-fluid">
                <a class="navbar-brand title" asp-area="" asp-controller="Home" asp-action="Index">EasyRecharge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link options" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link options" asp-area="" asp-controller="Home" asp-action="HowToUse">How To Use</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link options" asp-area="" asp-controller="Home" asp-action="History">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link options" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link optionsSpl" asp-area="" asp-controller="Home" asp-action="SetUpNewPlan" >Set New Plan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
