@{
    ViewData["Title"] = "Home Page";
}

<style>

    .Container1{
        margin-top:3em;
        height: 15em;
        justify-content: space-around;
       
    }
    .Container2{
        margin-top: 3em;
        height: 15em;
    }

    .banner{
        background-color: #CBF1F5;
        margin-left:3em;
        border-radius:25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .Wallet{
        
        border-radius: 20px;
        padding: 2em;
        background: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        
    }

    .heading-text{
        font-weight:700;
        color: #807D7D;

    }

    .price-text{
        font-weight:bold;
    }

    .sub-text{
        margin-top: -0.5em;
        color: #807D7D;
        font-size:12px;
    }

    .btn{
        background-color : #000 !important;
        color: #fff !important;
        font-size:12px;
        padding:1em 2em 1em 2em;
        border-radius: 10px;
        margin-top:2em;
        font-weight:500;
    }

    .MyPlans{
        background: white;
        border-radius: 20px;
        padding: 2em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

</style>

<div class="col mx-lg-5">
    <div class="row mx-lg-5 Container1">
        <div class="col-md-4 Wallet">
            <p class="heading-text" style="color:black"> 5G Trial</p>
            <p class="sub-text" style="font-size:16px;margin-top:-1.3em;"> Unlimited </p>
            <h2 class="price-text"> 9360224171</h2>
            <p class="heading-text" style="color:#696868;margin-top:-0.5em;"> Airtel</p>
            <p class="sub-text" style="margin-top:-1em;"> Last Recharge on 23 Apr, 2023. </p>
            <p class="sub-text" style="margin-top:1em;color:#69B5B9;font-weight:bold;"> Check Usage </p>
        </div>
        <div class="col-md-6 MyPlans">
            <div class="row">
                <div class="col-md-6">
                    <p class="heading-text"> My Plans </p>
                    <h2 class="price-text"> MRP 181 </h2>
                    <p class="sub-text"> Expires on 23 Apr, 2023. </p>
                    <button class="btn">RECHARGE</button>
                </div>
                <div class="col-md-1" style="border-left: 1px solid black; height: 100px;"></div>

                <div class="col-md-5">
                    <p class="heading-text"> Money </p>
                    <h2 class="price-text"> ₹ 2000</h2>
                    <p class="sub-text"> in your wallet. </p>
                    <button class="btn">ADD MONEY</button>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-lg-5 Container2">
        <div class="col-md-11 banner">
           <div class="row">
               <div class="col-md-6" style="padding:2em;">
                    <h2 style="font-weight:bold">Easily Recharge Your Mobile Online.</h2>
                    <p style="font-size:16px">We empower your phone with mobile recharge.</p>
                    <button class="btn">VIEW PLANS</button>
               </div>
                <div class="col-md-6" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 0; border-bottom-left-radius: 0;background-image: url('https://storage.googleapis.com/production-payrup-assets/post/24-1638253509-3701-post.png'); background-repeat: no-repeat; background-size: cover;height:15em;">
                   
                </div>

           </div>
        </div>
    </div>
</div>