@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UserDetailsModel

<div>
    <form asp-action="GetId" asp-controller="UserDetails" method="post">
        <div class="form-group" style="margin-bottom:2em;">
            <label asp-for="UserId" class="control-label" style="margin-bottom:1em;"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>